{% extends 'layout.html' %}{% block body %}
<!--Template for Group Information-->
<div class="container" text align = "center">
	<div class="border border-dark">
		<div class="panel panel-primary">
			<!--Panel Header-->
			<div class="panel-heading"><h1> {{_('About Us')}} </h1></div>
			<!--Panel Body-->
			<div class="panel-body"><h2> {{_('Development Team')}} </h2>
				<div id="contacts">
					<p> Taylor Lippincott </p>
					<p> Andrew Park </p>
					<p> Riddhi Patel </p>
					<p> Ryan Hardin </p>
					<p> Jacob Capps </p>
					<p> William Setzer </p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

