{% extends 'layout.html' %}

{% block body %}
	{% if session.has_home %}
		<div id="temp">
		<div class="center" id="weather" >
			<script type='text/javascript' src='https://darksky.net/widget/default-small/{{session.latitude}},{{session.longitude}}/us12/en.js?width=100%&height=70&title=Full Forecast&textColor=333333&bgColor=ffffff&transparency=false&skyColor=333333&fontFamily=Default&customFont=&units=us'></script>
		</div>
		<div class="center" id="weather2">
			{% if session.lang == 'ja' %}
				<script type='text/javascript' src='https://darksky.net/widget/graph-bar/{{session.latitude}},{{session.longitude}}/us12/ja.js?width=100%&height=400&title=Full Forecast&textColor=333333&bgColor=FFFFFF&transparency=false&skyColor=undefined&fontFamily=Default&customFont=&units=us&timeColor=333333&tempColor=333333&currentDetailsOption=true'></script>
			{% else %}
				<script type="text/javascript" src="https://darksky.net/widget/graph-bar/{{session.latitude}},{{session.longitude}}/us12/en.js?width=undefined&title=Full Forecast&textColor=333333&bgColor=FFFFFF&skyColor=undefined&fontFamily=Default&customFont=&units=us&timeColor=333333&tempColor=C7C7C7&currentDetailsOption=true"></script>
			{% endif %}
		</div>
		</div>
		<div id="dash" style="padding-left: 80px">
		<h1>{{_('DashBoard')}} <small> {{_('Welcome, ')}}{{session.name}}</small></h1>
			<h2> {{_('Utilities')}} </h2>
			<div class="row">
				<div class="col-lg-2 col-md-4 col-sm-6">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<p class="m-0 text-uppercase font-600 font-secondary text-overflow text-center" title="water">{{_('Water')}}</p>
						</div>
						<div class="panel-body">
							<h2 id="waterUsage"><h2>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<p class="m-0 text-uppercase font-600 font-secondary text-overflow text-center" title="electric">{{_('Electricity')}}</p>
						</div>
						<div class="panel-body">
							<h2 id="electricityUsage"><h2>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<!-- Graphs -->
				<div class="col-lg-4">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<p class="m-0 text-uppercase font-600 font-secondary text-overflow text-center" title="water">{{_('Water')}}</p>
						</div>
						<div class="panel-body">
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<p class="m-0 text-uppercase font-600 font-secondary text-overflow text-center" title="electric">{{_('Electricity')}}</p>
						</div>
						<div class="panel-body">
						</div>
					</div>
				</div>
			</div>
			<div id="sensor">
				<h2> {{_('Sensors')}} </h2>
			</div>
			</div>
			</div>

			
	{% else %}
		<h1>{{_('DashBoard')}} <small> {{_('Welcome, ')}}{{session.name}}</small></h1>
		<a href="/registerHouse" class="btn btn-default">{{_('Add House')}}</a>
	{% endif %}
{% endblock %}
