{% extends 'layout.html' %}

{% block body %}
	<h1>DashBoard <small> Welcome, {{session.username}}</small></h1>
	<div id="temp">
		Temperature: <span> Some database display</span>
	</div>
	<h2> Utilities </h2>
	<div class="row">
		<div class="col-lg-2 col-md-4 col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<p class="m-0 text-uppercase font-600 font-secondary text-overflow text-center" title="water">Water</p>
				</div>
				<div class="panel-body">
					<h2 id="waterUsage"><h2>
				</div>
			</div>
		</div>
		<div class="col-lg-2 col-md-4 col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<p class="m-0 text-uppercase font-600 font-secondary text-overflow text-center" title="electric">Electricity</p>
				</div>
				<div class="panel-body">
					<h2 id="electricityUsage"><h2>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<!-- Graphs -->
		<div class="col-lg-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<p class="m-0 text-uppercase font-600 font-secondary text-overflow text-center" title="water">Water</p>
				</div>
				<div class="panel-body">
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<p class="m-0 text-uppercase font-600 font-secondary text-overflow text-center" title="electric">Electricity</p>
				</div>
				<div class="panel-body">
				</div>
			</div>
		</div>
		</div>
	</div>
	<div id="sensor">
		<h2> Sensors </h2>
	</div>
{% endblock %}
