{% extends 'layout.html' %}
{% block body %}
<div class="col-sm-6 col-sm-offset-3">
	<div class="panel panel-default">
		<div class="panel-heading text-center">{{_('Smart Home')}}</div>
		<div class="panel-body text-center">
			{% if session.logged_in %}
			<a href="/dashboard" class="btn btn-default">{{_('Dashboard')}}</a><br>
			<a href="/registerHouse" class="btn btn-default">{{_('Add House')}}</a>
			{% else %}
			<a href="/login" class="btn btn-default">{{_('Login')}}</a><br>
			<a href="/register" class="btn btn-default">{{_('Register')}}</a>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}