{% extends 'layout.html' %}
{% block body %}

<div class="container">
	<div class="border border-dark">
		<div text align="center">
		<h1> {{_('Login')}} </h1>
		<form action="" method="POST">
		<div class="panel panel-primary">
			<div class="form-group">
				<label>{{_('Email')}}</label>
				<input type="text" name="email" class="form-control" value={{request.form.email}}>
			</div>
			<div class="form-group">
				<label>{{_('Password')}}</label>
				<input type="password" name="password" class="form-control" value={{request.form.password}}>
			</div>
		</div>
			<button type="submit" class="btn btn-primary">{{_('Submit')}}</button>
		</form>
		</div>
	</div>
</div>
{% endblock %}